# Python Revision 2

In [ ]:
#

In [3]:
#else-if conditions
a=6

if a==1:
    print("H")
elif a==2:
    print("I")
else:
    print("no")

no

In [4]:
#ifelse with multiples Conditions of and ,or
A=input("Enter TExt")
B=input("Enter TExt")
C=input("Enter TExt")
D=input("num")
if A=="Asad" and B=="Ali" or C=="Hero" and D=="12":
    print("name")
else:
    print("unkown")

Enter TExtwede
Enter TExteee
Enter TExte
nume
unkown

In [5]:
#introduction with elif
a=5
b=1
if a>=5:
    if b>5:
        print("win")
    elif b<=6:
        print("elif")
    else:
        print("error")
elif 
else:
    print("wrong")

SyntaxError: invalid syntax (<ipython-input-5-5f5dd73682c7>, line 10)

In [ ]:
# if condition with string
last_name = "Harry"

if last_name == "Harry":
# if interest == "wizardry"
 print("Welcome back to Hogwarts, Harry!")

# List

In [ ]:
#Problem if no list exist
std1="asad"
std2="wajahat"
std3="ali"
std4="rauf"

print(std1,std2)

In [10]:
std=["asad","ali",123,"waji"]
std

['asad', 'ali', 123, 'waji']

In [11]:
std.append("WAJAHAT")

In [12]:
    std

['asad', 'ali', 123, 'waji', 'WAJAHAT']

In [13]:
std.append("kashif") #it will add element in the last of th list
std

['asad', 'ali', 123, 'waji', 'WAJAHAT', 'kashif']

In [15]:
std.insert(3,"Pakistan") #it will add on the position which we given to it 
std

['asad', 'ali', 123, 'Pakistan', 'Pakistan', 'waji', 'WAJAHAT', 'kashif']

In [17]:
std.count("waji")  #to count how many times an element occurs in list

1

In [18]:
std.index(123) #it tells element on given index

2

In [19]:
std.pop() #del last element of list

'kashif'

In [20]:
std

['asad', 'ali', 123, 'Pakistan', 'Pakistan', 'waji', 'WAJAHAT']

In [21]:
std.remove("Pakistan") #remove given element in list only take value no index if elemnt occur twice del one only

In [23]:
std

['asad', 'ali', 123, 'Pakistan', 'waji', 'WAJAHAT']

In [24]:
a=std.copy() #create a copy of llist
a

['asad', 'ali', 123, 'Pakistan', 'waji', 'WAJAHAT']

In [28]:
std

['ali', 123, 'Pakistan', 'piaic', 'waji', 'WAJAHAT']

In [25]:
len(std) #to check length of list

6

In [34]:
std.pop(1) #del elemnt with index

123

In [35]:
std

['asad', 'WAJAHAT']

In [29]:
a.clear()#to clear list
a

[]

In [40]:
std

['asad', 'WAJAHAT', 'hi', 'Heloo', 'bye']

In [41]:
std.sort() #to sort list elements

In [42]:
std

['Heloo', 'WAJAHAT', 'asad', 'bye', 'hi']

In [43]:
std.reverse() #reverse sort

In [44]:
std

['hi', 'bye', 'asad', 'WAJAHAT', 'Heloo']

In [49]:
c=std.extend("hi") #seperate word into elemnt

In [52]:
std

['hi', 'bye', 'asad', 'WAJAHAT', 'Heloo', 'h', 'i']

In [54]:
std[-1] #to access elemnt in list with index

'i'

#list Slicing

In [56]:
cities=["tokyo","karanchi","london","paris","islamabad","lahore","berlin","capetown"]
cities

['tokyo',
 'karanchi',
 'london',
 'paris',
 'islamabad',
 'lahore',
 'berlin',
 'capetown']

In [57]:
cities[0:7] #first include last exclude

['tokyo', 'karanchi', 'london', 'paris', 'islamabad', 'lahore', 'berlin']

In [58]:
cities[1:]

['karanchi', 'london', 'paris', 'islamabad', 'lahore', 'berlin', 'capetown']

In [68]:
cities[0:8:4] #step size is 3rd parameter

['tokyo', 'islamabad']

In [59]:
del cities[3] #python del fucction to delete element in list

In [60]:
cities

['tokyo', 'karanchi', 'london', 'islamabad', 'lahore', 'berlin', 'capetown']

In [61]:
cities.insert(2,cities.pop()) #last element move to index 2 position

In [62]:
cities

['tokyo', 'karanchi', 'capetown', 'london', 'islamabad', 'lahore', 'berlin']

#Tuples

In [65]:
cities=("tokyo","karanchi","london","paris","islamabad","lahore","berlin","capetown","lahore")
cities

('tokyo',
 'karanchi',
 'london',
 'paris',
 'islamabad',
 'lahore',
 'berlin',
 'capetown',
 'lahore')

In [66]:
type(cities)

tuple

In [96]:
cities.count("tokyo") #to count how many times elemntss exist

1

In [97]:
cities.index("lahore") #to check elemnt index

5

In [100]:
for a in cities:
    if a=="lahore":
        print("city")
        break
        #will check laahore in list if found then it will break program and will not go to other if satisfy conditions

city

In [70]:
first_names = ["BlueRay ", "Upchuck ", "Lojack ","Gizmo ", "Do-Rag "]
last_names = ["Zzz", "Burp", "Dogbone", "Droop"]
full_names=[]
for a_first_name in first_names:
    for a_last_name in last_names:
        full_names.append(a_first_name + " " +a_last_name)
full_names

['BlueRay  Zzz',
 'BlueRay  Burp',
 'BlueRay  Dogbone',
 'BlueRay  Droop',
 'Upchuck  Zzz',
 'Upchuck  Burp',
 'Upchuck  Dogbone',
 'Upchuck  Droop',
 'Lojack  Zzz',
 'Lojack  Burp',
 'Lojack  Dogbone',
 'Lojack  Droop',
 'Gizmo  Zzz',
 'Gizmo  Burp',
 'Gizmo  Dogbone',
 'Gizmo  Droop',
 'Do-Rag  Zzz',
 'Do-Rag  Burp',
 'Do-Rag  Dogbone',
 'Do-Rag  Droop']

#input text  casing

In [74]:
f=input("Text")
g=f.title()
h=f.lower()
i=f.upper()
g,h,i

TextThaNK YoU VEry MuCh

('Thank You Very Much', 'thank you very much', 'THANK YOU VERY MUCH')

#Dictionaries

In [76]:
customer= {"first name": "David", "lastname": "Elliott", "address": "4803 Wellesley St."}
customer

{'first name': 'David', 'lastname': 'Elliott', 'address': '4803 Wellesley St.'}

In [79]:
customer["first name"]

'David'

In [82]:
customer.clear() #clear dictionary
customer

{}

In [83]:
customer = {"first name": "David", "lastname": "Elliott", "address": "4803 Wellesley St."}
customer

{'first name': 'David', 'lastname': 'Elliott', 'address': '4803 Wellesley St.'}

In [4]:
customer["address"]

'4803 Wellesley St.'

In [7]:
customer.fromkeys("address","4803 Wellesley St.") #will assign same value to each leeter of keys

{'a': '4803 Wellesley St.',
 'd': '4803 Wellesley St.',
 'r': '4803 Wellesley St.',
 'e': '4803 Wellesley St.',
 's': '4803 Wellesley St.'}

In [84]:
customer

{'first name': 'David', 'lastname': 'Elliott', 'address': '4803 Wellesley St.'}

In [89]:
X="A","B","C"
Y=[12]
p=dict.fromkeys(X,Y)
p
#keys can be numbers
# first one parameter is key 
# second parameter is value

{'A': [12], 'B': [12], 'C': [12]}

In [91]:
customer.get("address") #pass key will give value

'4803 Wellesley St.'

In [92]:
customer[4]="hello" #key 4 with value hello will add to dict

In [93]:
customer

{'first name': 'David',
 'lastname': 'Elliott',
 'address': '4803 Wellesley St.',
 4: 'hello'}

In [94]:
customer["hello"]=123

In [20]:
customer

{'first name': 'David',
 'lastname': 'Elliott',
 'address': '4803 Wellesley St.',
 4: 'hello',
 'hello': 123}

In [21]:
customer.items() #tells all the items in dict with keys and values

dict_items([('first name', 'David'), ('lastname', 'Elliott'), ('address', '4803 Wellesley St.'), (4, 'hello'), ('hello', 123)])

In [95]:
customer.keys() #print all Keys

dict_keys(['first name', 'lastname', 'address', 4, 'hello'])

In [96]:
customer.pop("hello")  #will remove hello key

123

In [97]:
customer

{'first name': 'David',
 'lastname': 'Elliott',
 'address': '4803 Wellesley St.',
 4: 'hello'}

In [30]:
customer.popitem() #remove last elemnts of dict

(4, 'hello')

In [101]:
customer.setdefault("address")

'4803 Wellesley St.'

In [102]:
customer

{'first name': 'David',
 'lastname': 'Elliott',
 'address': '4803 Wellesley St.',
 4: 'hello'}

In [103]:
car = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}

x = car.setdefault("model", "Bronco")

print(x)
# The setdefault() method returns the value of the item with the specified key.

# If the key does not exist, insert the key, with the specified value

Mustang

In [104]:
car

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964}

In [105]:
for a in customer:
    print(a)

first name
lastname
address
4

In [36]:
customer.values() #to get all values

dict_values(['David', 'Elliott', '4803 Wellesley St.'])

In [44]:


customer.update(car) #to add two list

In [45]:
customer

{'first name': 'David',
 'lastname': 'Elliott',
 'address': '4803 Wellesley St.',
 'brand': 'Ford',
 'model': 'Mustang',
 'year': 1964}

In [48]:
for a,b in customer.items():
    print(a,b)  #to print values and keys

first name David
lastname Elliott
address 4803 Wellesley St.
brand Ford
model Mustang
year 1964

In [49]:
 customers = [
 {"customer id": 0,"first name":"John","last name": "Ogden","address": "301 Arbor Rd.", },
 {"customer id": 1, "first name":"Ann","last name": "Sattermyer","address": "PO Box 1145", }, {"customer id": 2, "first name":"Jill","last name": "Somers","address": "3 Main St.", }, ]

In [50]:
customers #dict in list

[{'customer id': 0,
  'first name': 'John',
  'last name': 'Ogden',
  'address': '301 Arbor Rd.'},
 {'customer id': 1,
  'first name': 'Ann',
  'last name': 'Sattermyer',
  'address': 'PO Box 1145'},
 {'customer id': 2,
  'first name': 'Jill',
  'last name': 'Somers',
  'address': '3 Main St.'}]

In [52]:
customers[0]["address"] #to enter in diff dict keys and values in list

'301 Arbor Rd.'

In [54]:
customers[0].keys() #find out keys of user position one

dict_keys(['customer id', 'first name', 'last name', 'address'])

In [56]:
customers[0].values()

dict_values([0, 'John', 'Ogden', '301 Arbor Rd.'])

In [66]:
customers[0].popitem() #del last key of 0 index in list

('address', '301 Arbor Rd.')

In [70]:
customers.pop()

{'customer id': 2,
 'first name': 'Jill',
 'last name': 'Somers',
 'address': '3 Main St.'}

In [71]:
customers

[{'customer id': 0, 'first name': 'John', 'last name': 'Ogden'},
 {'customer id': 1,
  'first name': 'Ann',
  'last name': 'Sattermyer',
  'address': 'PO Box 1145'}]

In [83]:

len(customers)
customers

[{'customer id': 0, 'first name': 'John', 'last name': 'Ogden'},
 {'customer id': 1,
  'first name': 'Ann',
  'last name': 'Sattermyer',
  'address': 'PO Box 1145'},
 {'customer id': 'new_customer_id',
  'first name': 'new_first_name',
  'last name': 'new_last_name',
  'address': 'new_address'}]

In [84]:
new_dictionary = {
"customer id": "new_customer_id",
"first name": "new_first_name",
"last name": "new_last_name",
"address": "new_address",
}

customers.insert(0,(new_dictionary))

In [85]:
customers

[{'customer id': 'new_customer_id',
  'first name': 'new_first_name',
  'last name': 'new_last_name',
  'address': 'new_address'},
 {'customer id': 0, 'first name': 'John', 'last name': 'Ogden'},
 {'customer id': 1,
  'first name': 'Ann',
  'last name': 'Sattermyer',
  'address': 'PO Box 1145'},
 {'customer id': 'new_customer_id',
  'first name': 'new_first_name',
  'last name': 'new_last_name',
  'address': 'new_address'}]

In [86]:
customers[0]["customer id"] = 1 #list of dictonary update dictionary value

In [87]:
customers

[{'customer id': 1,
  'first name': 'new_first_name',
  'last name': 'new_last_name',
  'address': 'new_address'},
 {'customer id': 0, 'first name': 'John', 'last name': 'Ogden'},
 {'customer id': 1,
  'first name': 'Ann',
  'last name': 'Sattermyer',
  'address': 'PO Box 1145'},
 {'customer id': 'new_customer_id',
  'first name': 'new_first_name',
  'last name': 'new_last_name',
  'address': 'new_address'}]